* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ebe3ef;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("pbg1.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(1px) opacity(0.8);
    z-index: -1;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4a90e2;
    color: #fff;
    left: 0;
    width: 25%;
    margin-right: 30px;
    
}

h1 {
    font-size: 2em;
    /* margin-bottom: 20px; */
}

.back-button {
    margin-top: 50px;
    background-color: #e67e22;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    text-align: right;
}

.back-button:hover {
    background-color: #555;
}

main {
    margin-left: 300px; /* Adjust to give space for sidebar */
    margin-right: 200px;
    width: 80%;
    max-width: 900px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.patient-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #4a90e2;
    margin-bottom: 15px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.details h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}



.details p, .details ul {
    font-size: 1em;
    color: #555;
    margin: 5px 0;
}

.details ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    margin: 10px 0;
}

.details ul li {
    margin-bottom: 5px;
}
