* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f8ff;
    background-image: url("pbg1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4a90e2;
    color: #fff;
}

h1 {
    font-size: 2em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

#order-section {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 1.1em;
}

input, button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1em;
}

button {
    background-color: #4a90e2;
    color: #fff;
    cursor: pointer;
}

.back{
    background-color: #e67e22;
}

button:hover {
    opacity: 0.9;
}


#orders-display {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 400px;
    margin-top: 20px;
    margin-left: 30px;
}

#placed-orders, #past-orders {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.2em;
    color: #4a90e2;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}
