* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f8ff;
    background-image: url("hospitalbg3.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #aa48cb;
    color: #fff;
}

h1 {
    font-size: 2em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

#bed-resource-section {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

select {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1em;
}

button {
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    background-color: #aa48cb;
    color: white;
}

button:hover {
    opacity: 0.9;
}

button#back-btn {
    background-color: #e67e22;
    background-color: rgba(50, 153, 32,0.6);
    margin-top: 20px;
}

@media (max-width: 500px) {
    #bed-resource-section {
        width: 90%;
    }
}
