   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  body .background{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("hospital2.png");
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    filter: opacity(0.6);
    z-index: -1;

  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #9229bc;
    position: static;
    width: 35%;
    color: #fff;
  }
  
  h1 {
    font-size: 2em;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 1%;
    margin-left: 35%;
  }
  
  #login-section {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #9229bc;
    box-shadow: 2px 2px 10px #9229bc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: -85%;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="password"],
  select {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1em;
  }
  
  button {
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 1em;
  }
  
  #login-btn {
    background-color: #9229bc;
    color: white;
    margin-bottom: 10px;
  }
  
  #toggle-login {
    background-color: #e1e1e1;
    color: #333;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  @media (max-width: 500px) {
    #login-section {
      width: 90%;
    }
  }
  