* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f8ff;
    background-image: url("green1.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #2ca33a;
    color: #fff;
}

h1 {
    font-size: 2em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

#compliance-section {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 2;
}

ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.2em;
    color: #333;
}

button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    background-color: #ce8342;
    color: white;
}

button:hover {
    opacity: 0.9;
}

@media (max-width: 500px) {
    #compliance-management-section {
        width: 90%;
    }
}
